# Heat Exchange Experimental Data Analysis
Presented by Rahil Shaik, Alex Quemel, Ethan Mibu, Sneha Kancharla

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Pre-processing

In [ ]:
df_shell_cc = pd.read_csv("data/MW1_Shell_Counter_Current_formatted.csv")
df_shell_uni = pd.read_csv("data/MW1_Shell_Uni_Flow_formatted.csv")

# df_tube_cc = pd.read_csv("data/MW1_Tube_Tube_Counter_Flow_formatted.csv")
df_tube_
df_tube_uni = pd.read_csv("data/MW1_Tube_Tube_Uni_Flow_formatted.csv")

df_plate_cc = pd.read_csv("data/plate_counter_extra.csv")
df_plate_uni = pd.read_csv("data/plate_parallel_extra.csv")

df_water_air_cc = pd.read_csv("data/finned_counter_extra.csv")
df_water_air_uni = pd.read_csv("data/finned_parallel_extra.csv")

In [50]:
df_tube_cc

,Date,Time,T1 (°C),T2 (°C),T3 (°C),T4 (°C),T5 (°C),T6 (°C),T7 (°C),T8 (°C),T9 (°C),T10 (°C),dp1 (mbar),dp2 (mbar),dQ1/dt (kW),dQ2/dt (kW),dQ3/dt (kW),dQm/dt (kW)
0,4/7/2025,3:19:48 PM.18,27.4,38.0,21.9,30.8,0.1,7.6,0.0,0.1,0.0,0.1,0.09,13,-3.87,3.54,0.0,NaN
1,4/7/2025,3:19:48 PM.69,27.4,38.0,21.9,30.8,0.1,7.6,0.0,0.1,0.1,0.1,0.09,13,-3.89,3.57,0.0,NaN
2,4/7/2025,3:19:49 PM.18,27.4,38.1,21.9,30.8,0.1,7.6,0.0,0.1,0.0,0.1,0.09,14,-3.89,3.57,0.0,NaN
3,4/7/2025,3:19:49 PM.68,27.4,38.0,21.9,30.8,0.1,7.6,0.0,0.1,0.1,0.1,0.09,13,-3.91,3.56,0.0,NaN
4,4/7/2025,3:19:50 PM.18,27.4,38.0,21.9,30.9,0.1,7.6,0.0,0.1,0.1,0.1,0.09,13,-3.87,3.56,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4/7/2025,3:20:35 PM.68,27.2,37.7,21.6,30.6,0.1,7.6,0.0,0.1,0.1,0.1,0.09,13,-3.80,3.61,0.0,NaN
96,4/7/2025,3:20:36 PM.19,27.2,37.7,21.6,30.6,0.1,7.6,0.0,0.1,0.1,0.0,0.09,13,-3.84,3.59,0.0,NaN
97,4/7/2025,3:20:36 PM.69,27.1,37.7,21.6,30.6,0.1,7.6,0.0,0.1,0.1,0.1,0.10,13,-3.84,3.60,0.0,NaN
98,4/7/2025,3:20:37 PM.19,27.2,37.7,21.6,30.6,0.1,7.6,0.0,0.1,0.1,0.1,0.08,13,-3.82,3.58,0.0,NaN
99,4/7/2025,3:20:37 PM.69,27.1,37.7,21.6,30.6,0.1,7.6,0.0,0.1,0.1,0.1,0.09,13,-3.80,3.61,0.0,NaN

## Analysis Question 1

## Analysis Question 3
For the tubular heat exchanger in counter-current flow configuration:

(a) Identify and report appropriate correlations for predicting the heat transfer
coefficients for the inner tube (ℎ𝑖 ) and the annular region (ℎ𝑜 ). Clearly state the
conditions and assumptions under which these correlations are valid (flow regime,
flow condition, characteristic length, etc.).

The first step in determining the appropriate correlations for the heat transfer coefficient in an inner tube is investigating the flow regime using Reynolds number, $Re$, to classify the flow as laminar or turbulent

$$
Re = \frac{\rho u D}{\mu} = \frac{4 \dot m}{\pi D \mu}
$$