# Heat Exchange Experimental Data Analysis
Presented by Rahil Shaik, Alex Quemel, Ethan Mibu, Sneha Kancharla

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Pre-processing

In [43]:
df_shell_cc = pd.read_csv("data/MW1_Shell_Counter_Current_formatted.csv")
df_shell_uni = pd.read_csv("data/MW1_Shell_Uni_Flow_formatted.csv")

df_tube_cc = pd.read_csv("data/MW1_Tube_Tube_Counter_Flow_formatted.csv")
df_tube_uni = pd.read_csv("data/MW1_Tube_Tube_Uni_Flow_formatted.csv")

df_plate_cc = pd.read_csv("data/plate_counter_extra.csv")
df_plate_uni = pd.read_csv("data/plate_parallel_extra.csv")

df_water_air_cc = pd.read_csv("data/finned_counter_extra.csv")
df_water_air_uni = pd.read_csv("data/finned_parallel_extra.csv")

In [44]:
df_water_air_cc["T1 (°C)"].mean()

np.float64(39.586)

In [45]:
df_tube_cc

,Date,Time,T1 (°C),T2 (°C),T3 (°C),T4 (°C),T5 (°C),T6 (°C),T7 (°C),T8 (°C),T9 (°C),T10 (°C),dp1 (mbar),dp2 (mbar),dQ1/dt (kW),dQ2/dt (kW),dQ3/dt (kW),dQm/dt (kW)
0,4/7/2025,3:19:48,PM.18,27.4,38.0,21.9,30.8,0.1,7.6,0.0,0.1,0.0,0.1,0.09,13,-3.87,3.54,0.0
1,4/7/2025,3:19:48,PM.69,27.4,38.0,21.9,30.8,0.1,7.6,0.0,0.1,0.1,0.1,0.09,13,-3.89,3.57,0.0
2,4/7/2025,3:19:49,PM.18,27.4,38.1,21.9,30.8,0.1,7.6,0.0,0.1,0.0,0.1,0.09,14,-3.89,3.57,0.0
3,4/7/2025,3:19:49,PM.68,27.4,38.0,21.9,30.8,0.1,7.6,0.0,0.1,0.1,0.1,0.09,13,-3.91,3.56,0.0
4,4/7/2025,3:19:50,PM.18,27.4,38.0,21.9,30.9,0.1,7.6,0.0,0.1,0.1,0.1,0.09,13,-3.87,3.56,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4/7/2025,3:20:35,PM.68,27.2,37.7,21.6,30.6,0.1,7.6,0.0,0.1,0.1,0.1,0.09,13,-3.80,3.61,0.0
96,4/7/2025,3:20:36,PM.19,27.2,37.7,21.6,30.6,0.1,7.6,0.0,0.1,0.1,0.0,0.09,13,-3.84,3.59,0.0
97,4/7/2025,3:20:36,PM.69,27.1,37.7,21.6,30.6,0.1,7.6,0.0,0.1,0.1,0.1,0.10,13,-3.84,3.60,0.0
98,4/7/2025,3:20:37,PM.19,27.2,37.7,21.6,30.6,0.1,7.6,0.0,0.1,0.1,0.1,0.08,13,-3.82,3.58,0.0
99,4/7/2025,3:20:37,PM.69,27.1,37.7,21.6,30.6,0.1,7.6,0.0,0.1,0.1,0.1,0.09,13,-3.80,3.61,0.0

In [46]:
df_tube_cc["T1 (°C)"].mean()

TypeError: Could not convert string 'PM.18PM.69PM.18PM.68PM.18PM.68PM.19PM.69PM.19PM.69PM.19PM.68PM.19PM.68PM.19PM.69PM.19PM.69PM.19PM.69PM.18PM.69PM.19PM.68PM.19PM.69PM.19PM.69PM.19PM.69PM.19PM.69PM.18PM.69PM.19PM.69PM.18PM.69PM.19PM.68PM.19PM.69PM.19PM.69PM.19PM.69PM.19PM.69PM.19PM.69PM.19PM.69PM.18PM.69PM.19PM.69PM.19PM.68PM.19PM.69PM.19PM.69PM.19PM.69PM.19PM.69PM.19PM.69PM.19PM.69PM.18PM.68PM.19PM.69PM.19PM.68PM.18PM.69PM.19PM.69PM.19PM.69PM.19PM.69PM.18PM.69PM.18PM.69PM.18PM.69PM.19PM.69PM.19PM.69PM.19PM.68PM.19PM.69PM.19PM.69' to numeric