# Heat Exchange Experimental Data Analysis
Presented by Rahil Shaik, Alex Quemel, Ethan Mibu, Sneha Kancharla

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Pre-processing

In [60]:
df_shell_cc = pd.read_csv("data/MW1_Shell_Counter_Current_formatted.csv")
df_shell_uni = pd.read_csv("data/MW1_Shell_Uni_Flow_formatted.csv")

df_tube_cross_350c_200h = pd.read_csv("data/tubular_cross_data/tubular_cross_350c_200h - tubular_counter_350c_300h.csv")
df_tube_cross_350c_300h = pd.read_csv("data/tubular_cross_data/tubular_counter_350c_300h - tubular_counter_350c_300h.csv")
df_tube_cross_350c_350h = pd.read_csv("data/tubular_cross_data/tubular_counter_350c_350h - tubular_counter_350c_350h.csv")
df_tube_cross_350c_400h = pd.read_csv("data/tubular_cross_data/tubular_counter_350c_400h - tubular_counter_350c_400h.csv")

df_tube_cross_350h_200c = pd.read_csv("data/tubular_cross_data/tubular_cross_350h_200c - tubular_counter_350c_200h.csv")
df_tube_cross_350h_300c = pd.read_csv("data/tubular_cross_data/tubular_cross_350h_300c - WL315C_2025-01-30_14-58-01.csv")
df_tube_cross_350h_350c = pd.read_csv("data/tubular_cross_data/tubular_cross_350h_350c - WL315C_2025-01-30_14-59-40.csv")
df_tube_cross_350h_400c = pd.read_csv("data/tubular_cross_data/tubular_cross_350h_400c - WL315C_2025-01-30_15-05-57.csv")

# df_tube_uni = pd.read_csv("data/MW1_Tube_Tube_Uni_Flow_formatted.csv")

df_plate_cc = pd.read_csv("data/plate_counter_extra.csv")
df_plate_uni = pd.read_csv("data/plate_parallel_extra.csv")

df_water_air_cc = pd.read_csv("data/finned_counter_extra.csv")
df_water_air_uni = pd.read_csv("data/finned_parallel_extra.csv")

In [62]:
df_tube_cross_350c_200h["hot flow (L/hr)"] = 200
df_tube_cross_350c_200h["cold flow (L/hr)"] = 350

df_tube_cross_350c_300h["hot flow (L/hr)"] = 300
df_tube_cross_350c_300h["cold flow (L/hr)"] = 350

df_tube_cross_350c_350h["hot flow (L/hr)"] = 350
df_tube_cross_350c_350h["cold flow (L/hr)"] = 350

df_tube_cross_350c_400h["hot flow (L/hr)"] = 400
df_tube_cross_350c_400h["cold flow (L/hr)"] = 350

df_tube_cross_350h_200c["hot flow (L/hr)"] = 350
df_tube_cross_350h_200c["cold flow (L/hr)"] = 200

df_tube_cross_350h_300c["hot flow (L/hr)"] = 350
df_tube_cross_350h_300c["cold flow (L/hr)"] = 300

df_tube_cross_350h_350c["hot flow (L/hr)"] = 350
df_tube_cross_350h_350c["cold flow (L/hr)"] = 350

df_tube_cross_350h_400c["hot flow (L/hr)"] = 350
df_tube_cross_350h_400c["cold flow (L/hr)"] = 400

In [64]:
df_tube_cross_350c_200h["hot flow (m^3/s)"] = df_tube_cross_350c_200h["hot flow (L/hr)"] / (1000 * 3600)
df_tube_cross_350c_200h["cold flow (m^3/s)"] = df_tube_cross_350c_200h["cold flow (L/hr)"] / (1000 * 3600)

df_tube_cross_350c_300h["hot flow (m^3/s)"] = df_tube_cross_350c_300h["hot flow (L/hr)"] / (1000 * 3600)
df_tube_cross_350c_300h["cold flow (m^3/s)"] = df_tube_cross_350c_300h["cold flow (L/hr)"] / (1000 * 3600)

df_tube_cross_350c_350h["hot flow (m^3/s)"] = df_tube_cross_350c_350h["hot flow (L/hr)"] / (1000 * 3600)
df_tube_cross_350c_350h["cold flow (m^3/s)"] = df_tube_cross_350c_350h["cold flow (L/hr)"] / (1000 * 3600)

df_tube_cross_350c_400h["hot flow (m^3/s)"] = df_tube_cross_350c_400h["hot flow (L/hr)"] / (1000 * 3600)
df_tube_cross_350c_400h["cold flow (m^3/s)"] = df_tube_cross_350c_400h["cold flow (L/hr)"] / (1000 * 3600)

df_tube_cross_350h_200c["hot flow (m^3/s)"] = df_tube_cross_350h_200c["hot flow (L/hr)"] / (1000 * 3600)
df_tube_cross_350h_200c["cold flow (m^3/s)"] = df_tube_cross_350h_200c["cold flow (L/hr)"] / (1000 * 3600)

df_tube_cross_350h_300c["hot flow (m^3/s)"] = df_tube_cross_350h_300c["hot flow (L/hr)"] / (1000 * 3600)
df_tube_cross_350h_300c["cold flow (m^3/s)"] = df_tube_cross_350h_300c["cold flow (L/hr)"] / (1000 * 3600)

df_tube_cross_350h_350c["hot flow (m^3/s)"] = df_tube_cross_350h_350c["hot flow (L/hr)"] / (1000 * 3600)
df_tube_cross_350h_350c["cold flow (m^3/s)"] = df_tube_cross_350h_350c["cold flow (L/hr)"] / (1000 * 3600)

df_tube_cross_350h_400c["hot flow (m^3/s)"] = df_tube_cross_350h_400c["hot flow (L/hr)"] / (1000 * 3600)
df_tube_cross_350h_400c["cold flow (m^3/s)"] = df_tube_cross_350h_400c["cold flow (L/hr)"] / (1000 * 3600)

In [65]:
df_tube_cross_350c_200h.head(5)

,Time,T1 (°C),T2 (°C),T3 (°C),T4 (°C),T5 (°C),T6 (°C),T7 (°C),T8 (°C),T9 (°C),...,dp1 (mbar),dp2 (mbar),dQ1/dt (kW),dQ2/dt (kW),dQ3/dt (kW),dQm/dt (kW),hot flow (L/hr),cold flow (L/hr),hot flow (m^3/s),cold flow (m^3/s)
0,2/13/2025 4:29:46 PM.43,31.6,100,20.2,29.2,34.3,22,36.5,24.5,39.2,...,0.09,8,-23.72,3.64,0,13.68,200,350,0.000056,0.000097
1,2/13/2025 4:29:46 PM.93,31.6,100,20.2,29.2,34.3,22,36.5,24.5,39.2,...,0.09,9,-23.85,3.63,0,13.74,200,350,0.000056,0.000097
2,2/13/2025 4:29:47 PM.43,31.6,100,20.2,29.2,34.3,22,36.5,24.6,39.2,...,0.10,9,-23.81,3.66,0,13.74,200,350,0.000056,0.000097
3,2/13/2025 4:29:47 PM.93,31.6,100,20.2,29.2,34.3,22,36.5,24.5,39.2,...,0.10,8,-23.96,3.65,0,13.81,200,350,0.000056,0.000097
4,2/13/2025 4:29:48 PM.43,31.6,100,20.2,29.2,34.3,22,36.5,24.5,39.2,...,0.10,8,-23.95,3.63,0,13.79,200,350,0.000056,0.000097

## Analysis Question 1

## Analysis Question 3
For the tubular heat exchanger in counter-current flow configuration:

(a) Identify and report appropriate correlations for predicting the heat transfer
coefficients for the inner tube ($h_i$) and the annular region ($h_0$). Clearly state the
conditions and assumptions under which these correlations are valid (flow regime,
flow condition, characteristic length, etc.).

The first step in determining the appropriate correlations for the heat transfer coefficient in an inner tube is investigating the flow regime using Reynolds number, $Re$, to classify the flow as laminar or turbulent

$$
Re = \frac{\rho u D}{\mu} = \frac{4 \dot m}{\pi D \mu} 
$$

$$
\text{where} \  \dot m = \rho \dot V 
$$

In [ ]:
mu = 0.001 # Pa * s
rho = 1000 # kg / m^3